<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>

    <div class="about content">
        <h2>About</h2>
        <div class="about-page">
            <p>This is a TO-DO List that has the capability to persist data even when the server goes down.</p>
            <p>You can add and delete tasks, specific the priority, and mark them as 'completed' or not.</p>
            <br>
            <p>Frontend: HTML, CSS and Javascript</p>
            <p>Backend: Node.js, Express and MongoDB</p>
        </div>
    </div>

    <%- include('./partials/footer') %>
</body>
</html>